 <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Agregar el icono chico para la pantalla de arriba -->
  <link rel="icon" sizes="192x192" href="img/android-desktop.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="img/ios-desktop.png">

  <link rel="stylesheet" href="\css\angular-material.css">
  <link rel="stylesheet" href="\css\dashboard.css">
</head>

<body ng-app="MyApp" layout="row" ng-cloak>

  <md-sidenav layout="column" class="sidenav1" md-is-locked-open='true'>
    SideNav
  </md-sidenav>

  <md-content flex layout="column">
    <ng-view>
      View Content
    </ng-view>
  </md-content>

  <!-- Angular Material Requirements -->
  <script src="\js\bower_components\angular\angular.js"></script>
  <script src="\js\bower_components\angular-animate\angular-animate.js"></script>
  <script src="\js\bower_components\angular-aria\angular-aria.js"></script>
  <script src="\js\bower_components\angular-messages\angular-messages.js"></script>

  <!-- Angular Material Library -->
  <script src='\js\bower_components\angular-material\angular-material.js'></script>
  <script>
    var app = angular.module('MyApp', ['ngMaterial']).controller('AppCtrl', function($scope){});
  </script>

</body>
</html>
