<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Injenia">
  <link rel="shortcut icon" href="/img/logo-injenia.png">

  <title><%= title %></title>

  <!-- CSS -->
  <link rel="stylesheet" href="css\bootstrap.css">
  <link rel="stylesheet" href="css\carousel.css">
  <link rel="stylesheet" href="css\injenia.css">
  <link rel="stylesheet" href="css\angular-material.css">
  <link rel="stylesheet" href="css\login.css">
</head>

<!-- NAVBAR ================================================== -->
<body ng-app="theapp">
  <div ng-view></div>
    <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery Version 1.11.0 -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
  <!-- Bootstrap -->
  <!-- <script src="js\bootstrap.min.js"></script> -->
  <!-- <script src="js\docs.min.js"></script> -->
  <!-- Scripts One Page Scrolling Nav -->
  <!-- <script src="js\jquery.easing.min.js"></script> -->
  <!-- <script src="js\scrolling-nav.js"></script> -->
  <!-- Scripts para Google Maps -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
  <!-- <script src="js\map.js"></script> -->

  <!-- Angular Madness -->
  <!-- Angular Material Requirements -->
  <script src="\libs\angular\angular.js"></script>
  <script src="\libs\angular-animate\angular-animate.js"></script>
  <script src="\libs\angular-aria\angular-aria.js"></script>
  <script src="\libs\angular-messages\angular-messages.js"></script>
  <script src="\libs\angular-route\angular-route.js"></script>

  <!-- Angular Material Library -->
  <script src='\libs\angular-material\angular-material.js'></script>

  <!-- Angular Custom App Module -->
  <script src="\js\controllers\homeControl.js"></script>
  <script src="\js\controllers\loginControl.js"></script>
  <script src="\js\appRoutes.js"></script>
  <script src="\js\app.js"></script>

</body>
</html>
