<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="\css\angular-material.css">
  <link rel="stylesheet" href="\css\login.css">
</head>
<body>
  <div ng-app="MyApp" ng-controller="AppCtrl" layout="column" layout-align="center center" layout-fill="layout-fill">
    <div class="loginBox md-whiteframe-z1" layout="column">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Login</span></h2>
      </md-toolbar>
      <md-content class="md-padding" layout="column">
        <md-input-container>
          <label>Username</label>
          <input type="email" ng-model="username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="password">
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px">
          <md-button class="md-raised md-primary">Login</md-button>
          <div flex="flex"></div>
        </div>
      </md-content>
    </div>
  </div>

  <!-- Angular Material Requirements -->
  <script src="\js\bower_components\angular\angular.js"></script>
  <script src="\js\bower_components\angular-animate\angular-animate.js"></script>
  <script src="\js\bower_components\angular-aria\angular-aria.js"></script>
  <script src="\js\bower_components\angular-messages\angular-messages.js"></script>

  <!-- Angular Material Library -->
  <script src='\js\bower_components\angular-material\angular-material.js'></script>  
  <script>
    var app = angular.module('MyApp', ['ngMaterial']).controller('AppCtrl', function($scope){});
  </script>
</body>
</html>
