<!DOCTYPE html>
<head>
    <% include ./partials/head %>
</head>
<body class="container">
<header>
    <!-- To decide what to write here -->
</header>
<div class="mdl-grid">
  <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <% if ( success_msg.length > 0 ) { %>
      <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if ( error_msg.length > 0 ) { %>
      <div class="alert alert-danger"><%= success_msg %></div>
    <% } %>
    <% if (error.length > 0) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
  	<main class="mdl-layout__content">
  		<div class="mdl-card mdl-shadow--6dp">
  			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
  				<h2 class="mdl-card__title-text">Registro de Nuevo Usuario</h2>
  			</div>
  	  	<div class="mdl-card__supporting-text">
          <form method="post" action="/users/signup">
            <div class="mdl-textfield mdl-js-textfield">
  						<input class="mdl-textfield__input" type="text" id="user" name="username">
  						<label class="mdl-textfield__label" for="user">Usuario</label>
  					</div>
            <div class="mdl-textfield mdl-js-textfield">
  						<input class="mdl-textfield__input" type="text" id="email" name="email">
  						<label class="mdl-textfield__label" for="email">Email</label>
  					</div>
            <div class="mdl-textfield mdl-js-textfield">
  						<input class="mdl-textfield__input" type="password" id="password" name="password">
  						<label class="mdl-textfield__label" for="password">Password</label>
  					</div>
            <div class="mdl-textfield mdl-js-textfield">
  						<input class="mdl-textfield__input" type="text" id="name" name="name">
  						<label class="mdl-textfield__label" for="name">Nombre</label>
  					</div>
            <div class="mdl-textfield mdl-js-textfield">
  						<input class="mdl-textfield__input" type="text" id="lastname" name="lastname">
  						<label class="mdl-textfield__label" for="lastname">Apellido</label>
  					</div>
            <div class="mdl-textfield mdl-js-textfield">
  						<input class="mdl-textfield__input" type="text" id="empresa" name="empresa">
  						<label class="mdl-textfield__label" for="empresa">Compañía</label>
  					</div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="Enviar">
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  </body>
</body>
