#map_canvas {
  max-width: 500px;
  height: 500px;
  z-index: 1;
  border-radius: 5px;
}

.rojo {
  color: red;
}

@media screen and (max-width: 990px) {
  .featurette-divider {
    margin: 10px 0;
  }
}
